.profile {
  border: 1px solid blue;
  padding: 30px;
  background-color: #e7e8ef;
  height: calc(100vh - 55px);
}
.tilte-m{
   margin-left: 10px;
   font-size: 35px;
   
}
.menu-bar {
  background-color: black;
  margin: 0;
}
.menu-bar ul{
  display: flex;
  
}
.menu-bar ul li{
  list-style: none;
  padding: 5px 10px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: #fff;
}
.content {
  top:-20px;
  position: relative;
  margin: 0;
  border: 2px solid #111;
  display: flex;
  justify-content: space-around;
}
.content-left {
  width: 400px;
}
.content-left h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  /*  */
}
.content-left img {
  /* position: relative; */
  margin-left: 60px;
  margin-top: 40px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 2px solid #ddd;
}

.spannit {
  position: relative;
  left: 30%;
}
.btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url(../../../resource//image/icons8-edit-30.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 3px 3px;
  position: relative;
  left: 180px;
  top: -5px;
  border: 2px solid #ddd;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  background-color: aliceblue;
  opacity: 1;
}
.btn:active {
  border: 1px solid blue;
}
.content-right {
  border-left: 2px solid #111;
  width: 100%;
  display: block;
}
.box {
  padding: 10px;
}
.c-list-item {
  padding: 10px;
  display: flex;
  border: 1px solid #ddd;
  width: 100%;
  justify-content: start;
}
.c-list-item > div {
  width: 200px;
  text-align: center;
}
.caption {
  position: relative;
  left: 30px;
}
