.input-search {
  height: 35px;
  width: 800px;
  display: flex;
  align-items: center;
  }

.input-search img {
    position: relative;
    left: 35px;
    width: 23px;
    height: 23px;

}
.input-search input {
  /* position: relative; */
  /* margin-left: 20px; */
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.input-search input:focus{
  border: 1px solid #1565c0;
}
.input-search input::-webkit-progress-value{
  margin-left: 50px;
}
.input-search input::placeholder {
  
  color: #ddd;
  font-size: 0.8rem;
  padding-left: 40px;
  
}


