@font-face {
  font-family: font-main-default;
  src: url(./resource/font/Mukta-Bold.ttf);
}
@font-face {
  font-family: font-main-bold;
  src: url(./resource/font/Mukta-ExtraBold.ttf);
}
@font-face {
  font-family: font-main-light;
  src: url(./resource/font/Mukta-Light.ttf);
}

body {
  margin: 0;
  font-family: font-main-default ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: font-main-default ;
}
